html,
body {
  -webkit-user-select: none; /* 텍스트 선택 방지 */
  -webkit-touch-callout: none; /* iOS 꾹눌렀을 때 메뉴 방지 */
  user-select: none;
}

input,
textarea {
  -webkit-user-select: text;
  user-select: text;
}
